$colors: (
  dark-blue: #001d4a,
  white-dark: #fdfff7,
  purple-org: #A81E97,
  blue-clear: #348aa7,
  grey-org: #dddddd
);

$font-family-sans-serif: helvetica;

$desktop: 840px;

@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}

@function color($color-name) {
  @return map-get($colors, $color-name);
}